RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ $1 [L,QSA]
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]

# Deny accessing dot files
RewriteRule (^\.|/\.) - [F]
